{% load mongo_debug_tags %}

{% comment %}
<style type="text/css">
#djDebug .panelContent tbody th {
    width: auto;
}
#djDebug .panelContent table {
    display: table;
}
#djDebug tr.row1 {
    background-color: #F5F5F5;
}
#djDebug #djDebugRequestVarsPanel table:first-of-type tbody tr:nth-child(odd) {
    background-color: #F5F5F5;
}
pre.mongo-highlight, pre.mongo-highlight span {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', 'Courier New', monospace !important;
    font-size: 1.05em !important;
}
pre.mongo-stack-trace {
    line-height: 2.3em !important;
}
table.mongo-stack-trace th {
    text-align: left !important;
}
table.mongo-stack-trace td.code, table.mongo-stack-trace td.code span, table.mongo-stack-trace td.function {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', 'Courier New', monospace !important;
}
table.mongo-op-table tbody {
    width: 100% !important;
}
</style>
{% endcomment %}

{% if queries %}
<table>
  <thead>
    <tr>
      <th>Command</th>
      <th>Collection</th>
      <th>Query</th>
      <th>Time, ms</th>
    </tr>
  </thead>
  <tbody>
  {% for query in queries %}
    <tr>
      <td>{{ query.type }}</td>
      <td>{{ query.collection }}</td>
      <td>{{ query.query }}</td>
      <td>{{ query.time|floatformat }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No queries recorded</p>
{% endif %}

{% comment %}
<script>
(function() {
    var toggleButtons = document.querySelectorAll('a.mongo-toggle-trace');
    for (var i = 0; i < toggleButtons.length; i++) {
        (function() {
            var button = toggleButtons[i];
            var index = button.dataset.row;
            var trace = document.getElementById('mongo-stack-trace-' + index);
            trace.style.display = "none";

            button.addEventListener("click", function() {
                if (trace.style.display == "none") {
                    trace.style.display = "";
                } else {
                    trace.style.display = "none";
                }
            }, true);
        })();
    }
})();
</script>
{% endcomment %}
