{% load mongo_debug_tags %}

{% if queries %}
<table>
  <thead>
    <tr>
      <th>Command</th>
      <th>Collection</th>
      <th>Query</th>
      <th>Comment</th>
      <th>Time (ms)</th>
      {% if explain_enabled %}<th>Explain</th>{% endif %}
    </tr>
  </thead>
  <tbody>
  {% for query in queries %}
    <tr>
      <td>{{ query.type }}</td>
      <td>{{ query.collection }}</td>
      <td>
        <table class="inner">
          <tr><td colspan="2">{{ query.query }}</td></tr>
          {% if query.projection %}
            <tr><td class="muted">Project</td><td>{{ query.projection }}</td></tr>
          {% endif %}
          {% if query.ordering %}
            <tr><td class="muted">Sort</td><td>{{ query.ordering }}</td></tr>
          {% endif %}
          {% if query.skip %}
            <tr><td class="muted">Skip</td><td>{{ query.skip }}</td></tr>
          {% endif %}
          {% if query.limit %}
            <tr><td class="muted">Limit</td><td>{{ query.limit }}</td></tr>
          {% endif %}
        </table>
      </td>
      <td>
        {% if query.comment %}{{ query.comment }}{% endif %}
        {% if explain_enabled %}
          {% if query.explain.covered_by_index %}<div class="badge green" style="text-align: center">Covered by index</div>{% endif %}
          {% if query.explain.sorted_in_memory %}<div class="badge red" style="text-align: center">Sorted in memory</div>{% endif %}
        {% endif %}
      </td>
      <td>
        {{ query.time|floatformat }}
      </td>
      {% if explain_enabled %}
        <td>
          {{ query.explain.html|safe }}
          <div><button class="djdt-mongo-btn-explain" data-query-idx="{{ forloop.counter0 }}">Raw data</button></div>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No queries recorded</p>
{% endif %}

{{ queries|json_script:'djdt-mongo-json-queries' }}

<style>
  #djDebug table.inner td.muted {
      color: #aaa;
      width: 40px;
      {#white-space: nowrap;#}
  }
  #djDebug table.inner{
      margin: 0;
      border: none;
      background-color: transparent;
  }
  #djDebug table.inner tr{
      background-color: transparent !important;
  }

  #djDebug .badge {
      padding: 1px 3px;
      border-style: solid;
      border-width: 0px;
      border-radius: 4px;
  }
  #djDebug .badge.green{
      color: RGBA(25,135,84,1);
      border-color: RGBA(25,135,84,0.7);
      background-color: RGBA(25,135,84,0.1)
  }
  #djDebug .badge.red{
      color: RGBA(220,53,69,1);
      border-color: RGBA(220,53,69,0.7);
      background-color: RGBA(220,53,69,0.1)
  }
  #djDebug .badge.yellow{
      color: RGBA(255,193,7,1);
      border-color: RGBA(255,193,7,0.7);
      background-color: RGBA(255,193,7,0.1)
  }
  #djDebug .badge.grey{
      color: RGBA(108,117,125,1);
      border-color: RGBA(108,117,125,0.7);
      background-color: RGBA(108,117,125,0.1)
  }

  #djDebug .header{
      font-size: 15px;
      font-weight: bold;
  }
  #djDebug .header.green{
      color: RGBA(25,135,84,1);
  }
  #djDebug .header.red{
      color: RGBA(220,53,69,1);
  }
  #djDebug .header.yellow{
      color: RGBA(255,193,7,1);
  }
</style>