{% if index_intel.state == 'NOT_USED' %}
  <div class="header red">No index used!</div>
{% elif index_intel.state == 'COMPLICATED' %}
  <div class="header yellow">Complicated query &mdash; investigate manually</div>
{% else %}  {# OK или PARTIAL #}
  <div class="header {% if index_intel.state == 'OK' %}green{% else %}yellow{% endif %}" style="word-break: break-all">{{ index_intel.name }}</div>
  <div>Index coverage:</div>
  <div>
    {% for key in index_intel.index_coverage %}
      <span class="badge {% if key.covered %}green{% else %}grey{% endif %}">{{ key.key }} {{ key.type }}</span>
    {% endfor %}
  </div>

  <div>Query coverage:</div>
  <div>
    {% for key in index_intel.query_coverage %}
      <span class="badge {% if key.covered %}green{% else %}red{% endif %}">{{ key.key }}</span>
    {% endfor %}
  </div>
{% endif %}